.in-day-preview-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 100%;
  border: solid 1px black;
}

.in-day-preview-item__weather-info {
  margin-left: 0.5rem;
  text-align: left;
  line-height: 0.5rem;
}

.in-day-preview-item + .in-day-preview-item {
  border-top: none;
}

.in-day-preview-item__preview {
  display: flex;
  align-self: flex-end;
  margin-right: 0.5rem;
  text-align: left;
  flex: 1;
  justify-content: flex-end;
}

.in-day-preview-item__preview-container {
  line-height: 0.5rem;
}

.in-day-preview-item__preview-container
  + .in-day-preview-item__preview-container {
  margin-left: 0.5rem;
}
