.in-day-preview-item {
  border: solid 1px black;

  &__is-viable {
    margin-left: 0.5rem;
    flex: 100%;
    align-self: center;
    flex-direction: column;
    padding: 0.5rem;
  }

  &__infoText {
    margin: 0;
    margin-bottom: 0.25rem;

    & + .in-day-preview-item__infoText {
      margin: 0;
    }
  }

  &__preview-container {
    line-height: 0.5rem;
    white-space: nowrap;
    text-align: left;

    & + .in-day-preview-item__preview-container {
      margin-left: 0.5rem;
    }
  }

  & + .in-day-preview-item {
    border-top: none;
  }
}
